
* {
    padding: 0;
    margin: 0;
  
    font-family: 'MuseoModerno', cursive;
    text-decoration: none;
    list-style: none;
  
    transition: all ease .55s;
  
  }

  body{
    background-image: url(/img/328139380_719226636268716_1458668456977625910_n.jpg)
}
  
  .wel {
    background-color: #000000;
    text-align: center;
    margin-bottom: 0;
  
  }
  
  .wel h6 {
    color: #fcfcfc;
    font-size: 20px;
    margin-bottom: 0;
    padding: 3px;
  }
  
  
  
  
  .topnav {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
  
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  
    color: #000000;
    font-weight: 700;
  }
  
  
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    justify-content: space-evenly;
    float: right;
    right: 0;
    display: flex;
    width: 35%;
    margin-left: 20px;
  
  }
  
  .topnav-right a {
    padding: 0;
  
  
  
  }
  
  .topnav-right input {
    width: 40%;
    border: none;
    top: 0;
    height: fit-content;
    font-size: 17px;
    padding: 10px 14px;
  }
  
  .topnav-right button {
    width: 20%;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0;
    height: fit-content;
    padding: 10px 14px;
  
  }
  
  .topnav-right a {
    float: left;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }
  
  .example {
    width: 50%;
    display: flex;
    justify-content: end;
  
  
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
  
    .topnav a,
    .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }


.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    
    width: 80%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #868282;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(255, 255, 255);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
.form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
   
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}




.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }
  
  .footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  .footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }
  .footer p{
    margin: 0;
  
  }
  