body {
    margin: auto auto;
    font-family: 'Eczar', serif;
    justify-content: center;
    text-align: center;
   
    
  }
  
  * {
    
  }
  
  /* style the container */
  .container {
   
    position: relative;
    background-color: #fefefe;
    padding: 20px 0 30px 0;
    justify-content: center;
    
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    
    
   
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  

  /* style the submit button */
  input[type=submit] {
    background-color: #000000;
    color: white;
    cursor: pointer;
    
    width: 50%;
    text-align: center;
    
  
    
  }
  
  input[type=submit]:hover {
    background-color: #323232;
  }
  
  /* Two-column layout */
  .col {
    
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 

  
  
 
  /* bottom container */
  .bottom-container {
    
    margin: auto;
    
    text-align: center;
    background-color: #ffffff;
    
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    /* show the hidden text on small screens */
    
  }